.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.app > section {
  margin-bottom: 24px;
}
.app > section:last-child {
  margin-bottom: 0;
}
