@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
  /**
   * FONTS
   */

  --app-font-family-default: 'Open Sans', sans-serif;
  --app-font-family-monospace: monospace;

  --app-font-weight-normal: 400;
  --app-font-weight-semibold: 600;
  --app-font-weight-bold: 700;

  font-size: 16px; /* establish `rem` unit basis */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--app-font-family-default);
  background-color: white;
  color: #121212;
}

h1 {
  cursor: default;
  font-weight: var(--app-font-weight-semibold);
  font-size: 2rem;
}

h2 {
  cursor: default;
  font-weight: var(--app-font-weight-semibold);
  font-size: 1.8rem;
}

h3 {
  cursor: default;
  font-weight: var(--app-font-weight-semibold);
  font-size: 1.6rem;
}

h4 {
  cursor: default;
  font-weight: var(--app-font-weight-semibold);
  font-size: 1.4rem;
}

h5,
h6 {
  cursor: default;
  font-weight: var(--app-font-weight-semibold);
  font-size: 1.2rem;
  color: #555;
}
h6 {
  font-style: italic;
}

p {
  cursor: default;
  font-size: 1rem;
}

a[href],
a[href]:hover,
a[href]:link,
a[href]:link:hover,
a[href]:active,
a[href]:active:hover,
a[href]:visited,
a[href]:visited:hover {
  font-weight: var(--app-font-weight-semibold);
  color: blue;
  text-decoration: none;
}
a[href]:hover,
a[href]:link:hover,
a[href]:active:hover,
a[href]:visited:hover {
  cursor: pointer;
}

pre,
code {
  cursor: default;
  font-family: var(--app-font-family-monospace);
  font-size: 0.9rem;
}
pre {
  white-space: preserve nowrap;
}

strong {
  font-weight: var(--app-font-weight-bold);
}
